<h1>About Alex Travel</h1>

<p>Your fortune for the day:</p>
<blockquote>{{fortune}}</blockquote>

<p>Please feel free to <a href="/contact">contact us as we currently advancing our skills in node.</a>
    with any questions or comments.</p>
