<html>
<head>
    <title>Alex Vacation Request</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <h1>Request Group Rate</h1>
    <form>
        <input type="hidden" name=""referrer">
        Name: <input type=""text' id=fieldName=" name="name"<br>
        Group Size: <input type="text" name="'groupSize"><br>
        Email: <input type="email" name="email"><br>
        <input type="submit" value="Submit">

</form>
</body>
</head>
</html>
