<html>
<head>
    <title>Hood River Group Rate Request</title>

<body>
    <h1>Request Group Rate</h1>
    <form>
        <input type="hidden" name=""referrer">
        Name: <input type=""text' id=fieldName=" name="name"<br>
        Group Size: <input type="text" name="'groupSize"><br>

</form>
</body>
</head>
</html>